html,body{
    height: 100%;
    width: 100%;
    padding: 0;
    display: block;
    margin: 0 auto;
    font-family: Poppins, Georgia, serif;

}
#app{
    min-height: 100%;

    overflow: hidden;
}
#app>div{
    margin: 5px;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}

.row{
    height: 100%;
}


.bg_color{
    background: linear-gradient(-222deg, rgba(114,118,255,0.77) 0%, rgba(80,84,255,0.92) 64%, rgba(80,83,255,0.92) 65%, rgba(74,78,255,0.94) 76%, #3E41FF 100%);
    min-height: 407px;
    min-width: 407px;
    height: 100%;
    width: 100%;
}
.emp{
    height: 22vh;
}
.v_center{
    width:452px;
    margin: 0 auto;
}
.reviews_await{
    font-family: Poppins-SemiBold, Georgia, serif;
    font-size: 17px;
    color: #97A2A4;
    letter-spacing: -0.3px;
    text-align: center;

}
.reviews_customer{
    font-family: Poppins-SemiBold, Georgia, serif;
    font-size: 17px;
    color: #97A2A4;
    letter-spacing: -0.3px;
    text-align: center;
}



input:focus,
button:focus {
    outline: none;
    cursor: hand;
}

.box{
    background: #FFFFFF;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
    width: 388px;
    /*height: 407px;*/
    /*margin: auto;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
}

.box_inside{
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*vertical-align: middle;*/
    margin: 10% 0%;
}

.log_user,
.log_pass{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #97A2A4;
    letter-spacing: -0.25px;
    width: 90%;
    height: 40px;
    padding: 5px;
    text-indent: 20px;
    margin: 8px auto;
    display: block;
    border: 1px solid #D3D3D5;
    border-radius: 36px;
}

.btn_signin{
    width: 90%;
    height: 40px;
    background-color: #38D996;
    border-radius: 28px 28px 0 28px;
    border: 1px solid #D3D3D5;
    margin: 0 auto;
    display: block;
    font-family: Poppins-SemiBold, Georgia, serif;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: -0.8px;
}

.social_icon_2{
    width: 33px;
    height: 34px;
    padding: 5px;
    margin-left: 12px;
}
.anly_body{
    background-color: #F5F8FD;

}

.side_nav {
    height: 100%;
    background-color: #FFFFFF;
    font-family: Poppins-SemiBold, Georgia, serif;
    font-size: 15px;
    color: #B2B2BE;
    letter-spacing: -0.8px;
    text-align:center;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0px;
}

.logo_holder{
    background: #D8D8D8;
    border-radius: 8px;
    width: 48px;
    height: 37px;
    margin: 0 auto;
}

.send_invite{
    background: #38D996;
    border-radius: 28px 28px 0 28px;
    font-family: Poppins-SemiBold, Georgia, serif;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: -0.8px;
    width: 171px;
    height: 41px;
    border: 1px solid #D3D3D5;
}

.send_invite:focus{
    color: #FFFFFF;
    text-decoration: none;
}

.tog_btn{
    background: #D8D8D8;
    border-radius: 8px;
}

.social_icon{
    width: 33px;
    height: 34px;
    padding: 5px;
}

.invisi{
    display: none;
}
.right_btn{
    position: fixed;
    width:57px;
    height: 57px;
    background: #38D996;
    box-shadow: 1px 2px 6px 0 rgba(0,0,0,0.21);
    border: 1px solid #D3D3D5;
    border-radius: 50%;
    bottom: 45px;
    right: 24px;
    z-index: 9999;
}

#nav-icon1 {

    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span {

    position: absolute;
    background: #D8D8D8;
    border-radius: 8px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 5px;
}

#nav-icon1 span:nth-child(3) {
    top: 15px;
}

#nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon1.open span:nth-child(3) {

    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.naav >li >a ,
.naav > li .revDD{
    padding: 10px 25px;
}

.show-mobile{
    display: none;
}
.show-large {
    display: none;
}
.show-med{
    display: none;
}


.side_nav ul {
    list-style-type: none;
    margin: -15px;
    padding: 0;
    height: inherit;

    text-align: left;
    letter-spacing: -0.8px;

}



.side_nav ul li a{
    background-color: #FFFFFF;
    display: block;
    color: #B2B2BE;
    text-decoration: none;
    height:55px;
}

.side_nav ul li a:focus,
.side_nav ul li a:active,
.side_nav ul li a.active{
    background-color: #E4E4FD;
    color: #3E41FF;
    display: block;
    text-decoration: none;
    height:55px;
}
.blu{
    color: #3E41FF;
}

a.active .n_icon g{
    fill: #3E41FF;
    border: none;
    stroke: #3E41FF;
}

.side_nav ul li a:hover:not(.active) {
    background-color: #E4E4FD;
    color: #3E41FF;
}

.side_nav li a span.noti {
    background-color: #B2B2BE;
    color: #FFFFFF;
    width: 60px;
    height: 21px;
    margin: 0 auto;
    border-radius: 30px;
}

.revDD{
    background-color: #FFFFFF;

    text-decoration: none;
    height:55px;
}

.DDarrow{
    float: right;
}
.star_align{
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 30px 40px;
}
.headbar{
    height: 7.68vh;
    margin:10px auto;
    background-color: #FFFFFF;
}
.usr_logo{
    margin-bottom: 30px;
    float: right;
}

.usr_dd{
    top: 50px;
    right: 15px !important;
    left: auto;
}
.a_pad{
    padding: 25px;

}


.all_body{
    width: 87vw;
    height: auto;
    left: 13vw;
    float: right;
    background-color: #F5F8FD;
}
.bg_blu{
    background-color: #F5F8FD;
    height: 100%;
    margin-bottom: -9999px;
    padding-bottom: 9999px;

}
.bg_blu_m{
    background-color: #F5F8FD;
    height: 100%;
    margin: -15px;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}
.analytics_box1{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #97A2A4;
    letter-spacing: -0.75px;
    padding: 20px;
    margin-bottom: 15px;
    background-color: #FFFFFF;
    box-shadow: 1px 3px 11px 0 rgba(0,0,0,0.03);
    border-radius: 8px;
    min-height: 392px;
}
.analytics_box2{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #97A2A4;
    letter-spacing: -0.75px;
    padding: 20px;
    margin-bottom: 15px;
    background-color: #FFFFFF;
    box-shadow: 1px 3px 11px 0 rgba(0,0,0,0.03);
    border-radius: 8px;
    min-height: 392px;
}
.analytics_box3{
     font-family: Poppins-Medium, Georgia, serif;
     font-size: 14px;
     color: #97A2A4;
     letter-spacing: -0.75px;
     padding: 20px;
     margin-bottom: 15px;
     background-color: #FFFFFF;
     box-shadow: 1px 3px 11px 0 rgba(0,0,0,0.03);
     border-radius: 8px;
     min-height: 392px;
 }
.analytics_box4{
      font-family: Poppins-Medium, Georgia, serif;
      font-size: 14px;
      color: #97A2A4;
      letter-spacing: -0.75px;
      padding: 20px;
       margin-bottom: 15px;
      background-color: #FFFFFF;
      box-shadow: 1px 3px 11px 0 rgba(0,0,0,0.03);
      border-radius: 8px;
      min-height: 392px;
  }

.pro_curve{
    background: url('../images/ProgressCurve.png') no-repeat center;
    height: 175px;

}
.center_curve{
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ctr_no{
    font-family: Poppins-Light, Georgia, serif;
    font-size: 50px;
    color: #464646;
    letter-spacing: 1.1px;
}

.gjob{
    color: #4A4A4A;
}

.Cprofile{
    width:40px;
    height: 50px;
    border-radius: 50%;
    float: right;
    margin: 0 21px;
}

.review_head{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 15px;
    color: #4A4A4A;
    letter-spacing: -0.8px;
    padding: 25px;
}

.revno{
    font-family: Poppins-Light, Georgia, serif;
    font-size: 50px;
    color: #464646;
    letter-spacing: 1.1px;
}

.big{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 19px;
    padding: 5px;
}

.app_review{
    display: inline-block;
    float: left;
    width: 45%;
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #97A2A4;
    letter-spacing: -0.75px;
}
.review_positive{
    display: inline-block;
    float: right;
    width: 45%;
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #97A2A4;
    letter-spacing: -0.75px;
}

.divi {
    margin: 20px;
}

.site_review{
    display: inline-block;
    float: left;
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #97A2A4;
    letter-spacing: -0.75px;
}

.site_review figure{
    display: inline-block;
    margin: 5px;
}

figure{
    display: inline-block;
    margin: 5px;
}

.site_review img{
    display: inline-block;
    width: 33px;
    height: 34px;
}

.rat{
    font-family: Poppins-Light, Georgia, serif;
    font-size: 50px;
    color: #464646;
    letter-spacing: 1.1px;
}

.app_rate{
    display: inline-block;
    float: left;
    width: 90%;
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #97A2A4;
    letter-spacing: -0.75px;
}
.senti_body{
    margin:4px;
    text-align: center;
}
.reco_no{
    font-family: Poppins-Light, Georgia, serif;
    font-size: 30px;
    color: #464646;
    letter-spacing: 0.66px;
}

.reco_per{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 24px;
    color: #38D996;
    letter-spacing: 0.53px;
}

.noreco_per{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 24px;
    color: #ED40DB;
    letter-spacing: 0.53px;
}

.rev_body{
    width: 87vw;
    height: auto;
    left: 13vw;
    float: right;
    background-color: #F5F8FD;
    font-family: Poppins-Regular, Georgia, serif;
    font-size: 20px;
    color: #4A4A4A;
    letter-spacing: -1.07px;
}



.all_reviews{
    margin: 25px;
}
.all_review_head{
    font-family: Poppins-Regular, Georgia, serif;
    font-size: 20px;
    color: #4A4A4A;
    letter-spacing: -0.91px;
}
.review_tab_title{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #97A2A4;
    letter-spacing: -0.75px;
}
.onl_review{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 15px;
    color: #97A2A4;
    letter-spacing: -0.8px;
    margin: 17px;
}

.onl_review_title{

    font-family: Poppins-SemiBold, Georgia, serif;
    font-size: 15px;
    color: #4A4A4A;
    letter-spacing: -0.8px;
    padding: 15px;
}
.respond{
    font-family: Poppins-SemiBold, Georgia, serif;
    font-size: 15px;
    color: #38D996;
    letter-spacing: -0.8px;
    margin: 17px;
}
.review_box{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #97A2A4;
    letter-spacing: -0.75px;
    padding: 20px;
    margin: 15px 30px;
    background-color: #FFFFFF;
    box-shadow: 1px 3px 11px 0 rgba(0,0,0,0.03);
    border-radius: 8px;
}

.form_filter{
    float: right;
    margin-right: -15px;
}

.marg{
    margin: 15px;
}

.srch_button{
    background-color: #FFFFFF;
    border: 1px solid #D3D3D5;
    border-radius: 8px;
    font-family: Poppins-SemiBold, Georgia, serif;
    font-size: 15px;
    color: #97A2A4;
    text-align: center;
    letter-spacing: -0.68px;
    width: 300px;
    height: 40px;
    margin-right: -15px;
    float: right;
}
.srch_button_mob{
    background-color: #FFFFFF;
    border: 1px solid #D3D3D5;
    border-radius: 8px;
    font-family: Poppins-SemiBold, Georgia, serif;
    font-size: 15px;
    color: #97A2A4;
    text-align: center;
    letter-spacing: -0.68px;
    width: 100%;
    height: 40px;

}
.mob_align_center{
    margin: 0 15px;
}

.btn_filter{
    background: #E4E4FD;
    border: 1px solid #D3D3D5;
    border-radius: 8px;
    font-family: Poppins-SemiBold, Georgia, serif;
    font-size: 15px;
    color: #3E41FF;
    letter-spacing: -0.68px;
    width: 98px;
    height: 40px;
}
.btn_filter_m{
    background: #E4E4FD;
    border: 1px solid #D3D3D5;
    border-radius: 8px;
    font-family: Poppins-SemiBold, Georgia, serif;
    font-size: 15px;
    color: #3E41FF;
    letter-spacing: -0.68px;
    width: 100%;
    height: 40px;
}
.btn_filter:focus{
    color: #3E41FF;
    text-decoration: none;
}


.days_ago{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 15px;
    color: #B2B2BE;
    letter-spacing: -0.8px;
    float: right;
}

.table_box{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #97A2A4;
    letter-spacing: -0.75px;
    margin: 15px 30px;
    background-color: #FFFFFF;
    box-shadow: 1px 3px 11px 0 rgba(0,0,0,0.03);
    border-radius: 8px;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    vertical-align: middle;
    overflow: hidden;
}
.team_head,
.table_box table thead tr{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #97A2A4;
    letter-spacing: -0.75px;
    height: 74px;
}
.team_body,
.table_box table tbody tr{
    font-family: Poppins-Medium,  Georgia, serif;
    font-size: 14px;
    color: #4A4A4A;
    letter-spacing: -0.75px;
    height: 74px;
}

.table_box select{
    background-color: #FFFFFF;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../images/Downarrow2.png) no-repeat;
    background-position: 90px 16px;
    text-overflow: "";
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
}
.role{
    background: url(../images/Downarrow2.png) no-repeat;
    background-position: 90px 16px;
}

.change_cursor{
    cursor: pointer;
}

.no_record{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #97A2A4;
    letter-spacing: -0.75px;
}

.loc_dd select{
    background-color: #FFFFFF;
    border: 0 !important;             /*Removes border*/
    -webkit-appearance: none;            /*Removes default chrome and safari style*/
    -moz-appearance: none;             /* Removes Default Firefox style*/
    background: url('../images/Downarrow2.png') no-repeat;          /*Adds background-image*/
    background-position: 150px 7px;           /*Position of the background-image*/
    text-indent: 0.01px;          /* Removes default arrow from firefox*/
    text-overflow: "";               /*Removes default arrow from firefox*/
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 15px;
    margin: 15px -5px;
    width: 180px
}


.loc_dd select optgroup,
.loc_dd select optgroup option{
    background: #FFFFFF;
    box-shadow: 0 8px 11px 0 rgba(0,0,0,0.07);
    border-radius: 4px;
    width:100%;
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 15px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select::-ms-expand { /* for IE 11 */
    display: none;
}



.btn:focus{
    text-decoration: none;
    border: none;
    outline: none;
}


.react-tabs__tab-panel--selected{
    background-color: #F5F8FD;
    height: 100%;
    margin: -15px;

    margin-bottom: -9999px;
    padding-bottom: 9999px;
}

.progress{
    height: 7px !important;
    background-color: #ffffff;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 5px;
    max-width: 80%;
}
.pb1{
    background-color: #ED40DB;
    border-radius: 5px;
}
.pb2{
    background-color: #F5A623;
    border-radius: 5px;
}
.pb3{
    background-color: #F8E71C;
    border-radius: 5px;
}
.pb4{
    background-color: #38C7E0;
    border-radius: 5px;
}
.pb5{
    background-color: #38D996;
    border-radius: 5px;
}

.progress-circ{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress-circ:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress-circ > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress-circ .progress-left{
    left: 0;
}
.progress-circ .progress-bar{
    width: 100%;
    height: 100%;
    background: transparent;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress-circ .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress-circ .progress-right{
    right: 0;
}
.progress-circ .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress-circ .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #44484b;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress-circ .blue .progress-bar{
    border-color: #049dff;
}
.progress-circ .blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .progress-circ{ margin-bottom: 20px; }
}


svg.rsr__star{
    height: 20px !important;
}

.stars span.rsr-container{
    display: inline-block;
    /*background-image: url("GoldReview.png");*/
}
.loading_icon{
    color:yellow;
    background-image: url("../images/load_icon.gif");
}

.list_style ul{
    list-style: none;
    padding: unset;
    display: table;
}

.list_style ul li{
    float: left;
    margin-right: 20px;
    height: 47px;
    cursor: pointer;
}


.react-tabs__tab--selected{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #3E41FF;
    letter-spacing: -0.75px;
    border-bottom: 2px solid #3E41FF;
}


/** For Loading **/

.load_style {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgba(245, 248, 253, 0.5);
    pointer-events: none;
}

.load_style img {
    width: 6%;
    margin: 0% 47%;
    position: absolute;
    top: 47%;
}

.big_reveiew >.load_style img {
    top: unset;
    margin: 5% 47%;

}
/***/
.custom_site_review >span {
    margin-top: 15px;
    margin-right: 15px;
    float: left;
}
.custom_site_review span a {
    text-align: center;
}
@media(min-width: 768px) {
    .navbar-right {
        margin-right: 5px !important;
    }
}
.custom_badge{
    padding: 4px 12px !important;
    display: unset !important;
    background-color: #B2B2BE;
    border-radius: 20px ;
}

/*
 * react-circular-progressbar styles
 *
 * All of the styles in this file are optional and configurable!
 */

.CircularProgressbar {
    /*
     * This fixes an issue where the CircularProgressbar svg has
     * 0 width inside a "display: flex" container, and thus not visible.
     *
     * If you're not using "display: flex", you can remove this style.
     */
    width: 50%;
}
.s1{

}
.milako{
    padding: 0 30px;
}
.siddha{
    padding-bottom: 5px;
}

.CircularProgressbar .CircularProgressbar-path {
    stroke: #3e41ff;
    stroke-linecap: round;
    stroke-width: 3px;
    transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
    stroke: #d6d6d6;
    stroke-width: 3px;
}

.CircularProgressbar .CircularProgressbar-text {
    fill: #3e41ff;
    font-size: 20px;
    dominant-baseline: middle;
    text-anchor: middle;
}


/**
Loader Section
 */
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.load-i{
    width: 100%;
    height: 20%;
    /* margin: 0% auto; */
    position: absolute;
    top: 35%;
}

.overlay{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.5);
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.btn_add_team{
    font-family: Poppins-SemiBold, Georgia, serif;
    font-size: 15px;
    color: #38D996;
    letter-spacing: -0.68px;
    background: #C6F7E3;
    border-radius: 8px;
    width: 178px;
    height: 40px;
}

.btn_add_team_m{
    font-family: Poppins-SemiBold, Georgia, serif;
    font-size: 15px;
    color: #38D996;
    letter-spacing: -0.68px;
    background: #C6F7E3;
    border-radius: 8px;
    width: 100%;
    height: 40px;
}

.btn_add_team:focus{
    color: #38D996;
    text-decoration: none;

}

.team_email{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #38D996;
    letter-spacing: -0.75px;
}

.team_email > a{
    font-size: 14px;
    color: #38D996;

}
.edit_table {
    border: 2px solid #E4E4FD;
    border-radius: 8px;
    display: inline;
    font-family: Poppins-SemiBold, Georgia, serif;
    font-size: 14px;
    color: #4A4A4A;
    letter-spacing: -0.75px;
    text-indent: 10px;
}

.small_edit{
    width: 113px;
    height: 41px;
    margin-right: 5px;
}
.long_edit{
    width: 232px;
    height: 41px;
}

/**
 * Start by hiding the checkboxes
 */
input[type=checkbox] {
    visibility: hidden;
    float: left;
}
/**
 * Checkbox Four
 */
.checkboxFour {
    width: 30px;
    height: 30px;
    background: #38D996;
    border-radius: 100%;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
/**
 * Create the checkbox button
 */
.checkboxFour label {
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 100px;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 1;
    background: #FFFFFF;
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
/**
 * Create the checked state
 */
.checkboxFour input[type=checkbox]:checked + label {
    background: #C6F7E3;
}

.edit_sms{
    margin: 10px;
    width: 90%;
    height:110px;
    background: #F5F8FD;
    border-radius: 7px;
    resize: none;
    padding: 5px;

}

.btn_restore_default{
    background: #F8C4F3;
    border-radius: 8px;
    font-family: Poppins-SemiBold, Georgia, serif;
    font-size: 15px;
    color: #ED40DB;
    letter-spacing: -0.68px;
    padding: 5px;
}

.reset_text{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 15px;
    color: #97A2A4;
    letter-spacing: -0.68px;
    padding: 5px;
}

.msg_error{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 15px;
    color: #ED40DB;
}

[contenteditable="true"]:active, [contenteditable="true"]:focus{ border:none; outline:none; }
[contenteditable="true"]:focus > style::before{ content:"styles"; font-size: 1.5em; font-weight: 700; }
[contenteditable="true"]:focus > style{ display:block; border: 2px solid #E4E4FD;  border-radius: 8px; position:relative;}

#editthis{ background: #9999aa; padding: .5em; box-shadow: 1px 1px 2px #333; width: 25em; }

.toast-notification{
    width: 100%!important;
}
.toast-notification span{
    width: 100%!important;
    background-color: #e38d13;
    color: white;
}
#cust_table thead tr th,
#cust_table tbody tr td{
    max-width: 150px;
    overflow: hidden;
}
#acc_table_mob thead tr th,
#acc_table_mob tbody tr td,
#acc_table thead tr th,
#acc_table tbody tr td{
    max-width: 250px;
    overflow: hidden;
}
#team_table thead tr th,
#team_table tbody tr td{
    max-width: 300px;
    overflow: hidden;
}

/* For screen greater than 767px [Tablet and laptop]*/
@media only screen and (min-width: 767px) {
    .show-mobile{
        display: none;
    }
    .big_review{
        background-color: #FFFFFF;
    }
    .btn:hover:enabled{
        color: #333;
        transform: scale(1.1);
        transition: all .3s ease-in-out;
    }
    .side_ko{
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
        margin-bottom:-9999px;
        padding-bottom:9999px;
    }
}

/* For screen greater than 1155 [Tablet and mobile]*/
@media only screen and (min-width: 1200px) {
    .show-mobile{
        display: none;
    }
    .show-large {
        display: block;
    }
    .hide-mobile{
        display: block;
    }
}

@media only screen and (min-width: 767px) and (max-width: 1200px){
    .CircularProgressbar {
        width: 216px !important;
    }
    .show-large{
        display: none;
    }
    .show-mobile{
        display:none;
    }
    .show-med{
        display: block;
    }
    .hide-mobile{
        display: block;
    }
    .form_filter{
        margin: 0;
    }
}

/* For screen smaller than 767px [Mobiles]*/
@media only screen and (max-width: 767px) {
    .show-mobile{
        display:block;
    }
    .show-large{
        display: none;
    }
    .hide-mobile{
        display: none;
    }
    .CircularProgressbar {
        width: 216px !important;
    }
}
/* For screen smaller than 1155px [Tablet and small laptop]*/
@media (max-width: 1200px) {

    .show-large{
        display: none;
    }
    .navbar{
        background: #FFFFFF;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.03);
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: 0 8px 11px 0 rgba(0,0,0,0.07);
        border-radius: 14px;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .nav-collapse .in{
        background: #FFFFFF;
        box-shadow: 0 8px 11px 0 rgba(0,0,0,0.07);
        border-radius: 14px;
    }
    .navbar-collapse .in,
    .navbar-collapse .collapse{
        overflow-y: hidden !important;
        padding-bottom: 20px;
    }
}