html,body{
    height: 100%;
    width: 100%;
    padding: 0;
    display: block;
    margin: 0 auto;
    font-family: Poppins, Georgia, serif;
}
.log_body{
    background: linear-gradient(-222deg, rgba(114,118,255,0.77) 0%, rgba(80,84,255,0.92) 64%, rgba(80,83,255,0.92) 65%, rgba(74,78,255,0.94) 76%, #3E41FF 100%);
    width: 100vw;
    height: 100vh;
}
.emp{
    height: 22vh;
}
.v_center{
    width:452px;
    margin: 0 auto;
}
.reviews_await{
    font-family: Poppins-SemiBold, Georgia, serif;
    font-size: 30px;
    color: #4A4A4A;
    letter-spacing: -1.6px;
    text-align: center;
}

input:focus,
button:focus {
    outline: none;
    cursor: hand;
}

.box{
    background: #FFFFFF;
    box-shadow: 2px 4px 13px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
    width: 452px;
    height: 407px;
    margin: auto;
    position: relative;
}

.box_inside{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.log_user,
.log_pass{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #97A2A4;
    letter-spacing: -0.25px;
    width: 313px;
    height: 45px;
    padding: 5px;
    text-indent: 20px;
    margin: 8px auto;
    display: block;
    border: 1px solid #D3D3D5;
    border-radius: 36px;
}

.btn_signin{
    width: 313px;
    height: 45px;
    background-color: #38D996;
    border-radius: 28px 28px 0 28px;
    border: 1px solid #D3D3D5;
    margin: 0 auto;
    display: block;
    font-family: Poppins-SemiBold, Georgia, serif;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: -0.8px;
}

.anly_body{
    background-color: #F5F8FD;

}

.nav_bar{
    height: auto;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    font-family: Poppins-SemiBold, Georgia, serif;
    font-size: 15px;
    color: #B2B2BE;
    letter-spacing: -0.8px;
    text-align:center;
    position: absolute;
}

.logo_holder{
    background: #D8D8D8;
    border-radius: 8px;
    width: 48px;
    height: 37px;
    margin: 0 auto;
}

.send_invite{
    background: #38D996;
    border-radius: 28px 28px 0 28px;
    font-family: Poppins-SemiBold, Georgia, serif;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: -0.8px;
    width: 171px;
    height: 41px;
    border: 1px solid #D3D3D5;
}

.nav_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
    text-align: left;
    text-indent: 15px;
    letter-spacing: -0.8px;
}

.nav_bar li a {
    display: block;
    color: #B2B2BE;
    text-decoration: none;
    height:55px;

}

.nav_bar li a.active {
    background-color: #E4E4FD;
    color: #3E41FF;
}

.nav_bar li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.nav_bar li a span.noti {
    background-color: #B2B2BE;
    color: #FFFFFF;
    width: 60px;
    height: 21px;
    margin: 0 auto;
    border-radius: 30px;
}

.headbar{
    width: 87vw;
    height: 7.68vh;
    left: 13vw;
    float: right;
    margin:0 auto;
    background-color: #FFFFFF;
}

.all_body{
    width: 87vw;
    height: auto;
    left: 13vw;
    float: right;
    background-color: #F5F8FD;
}

.Cprofile{
    width:40px;
    height: 50px;
    border-radius: 50%;
    float: right;
    margin: 0 21px;
}

.box_review{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #97A2A4;
    letter-spacing: -0.75px;
    width: 30vw;
    padding: 20px;
    height: 42vh;
    margin: 25px;
    float: left;
    background-color: #FFFFFF;
    box-shadow: 1px 3px 11px 0 rgba(0,0,0,0.03);
    border-radius: 8px;
}

.review_head, .rating_head, .senti_head, .ctr_head{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 15px;
    color: #4A4A4A;
    letter-spacing: -0.8px;
    padding: 25px;
}

.box_avg_rating{
    width: 30vw;
    height: 42vh;
    padding: 20px;
    margin: 25px 25px 25px 0;
    float: left;
    background-color: #FFFFFF;
    box-shadow: 1px 3px 11px 0 rgba(0,0,0,0.03);
    border-radius: 8px;
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 15px;
    color: #4A4A4A;
    letter-spacing: -0.8px;
}

.box_sentiment{
    width: 20vw;
    height: 42vh;
    padding: 20px;
    margin: 0 25px 25px 25px;
    float: left;
    background-color: #FFFFFF;
    box-shadow: 1px 3px 11px 0 rgba(0,0,0,0.03);
    border-radius: 8px;
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 15px;
    color: #4A4A4A;
    letter-spacing: -0.8px;
}

.box_CTR{
    width: 20vw;
    height: 42vh;
    padding: 20px;
    margin: 0 25px 25px 0;
    float: left;
    background-color: #FFFFFF;
    box-shadow: 1px 3px 11px 0 rgba(0,0,0,0.03);
    border-radius: 8px;
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 15px;
    color: #4A4A4A;
    letter-spacing: -0.8px;
}

.revno{
    font-family: Poppins-Light, Georgia, serif;
    font-size: 50px;
    color: #464646;
    letter-spacing: 1.1px;
}

.big{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 19px;
    padding: 5px;
}

.app_review{
    display: inline-block;
    float: left;
    width: 45%;
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #97A2A4;
    letter-spacing: -0.75px;
}
.review_positive{
    display: inline-block;
    float: right;
    width: 45%;
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #97A2A4;
    letter-spacing: -0.75px;
}

.divi {
    margin: 20px;
}

.site_review{
    display: inline-block;
    float: left;
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #97A2A4;
    letter-spacing: -0.75px;
}

.site_review figure{
    display: inline-block;
    margin: 5px;
}

.site_review img{
    display: inline-block;
    width: 33px;
    height: 34px;
}

.rat{
    font-family: Poppins-Light, Georgia, serif;
    font-size: 50px;
    color: #464646;
    letter-spacing: 1.1px;
}

.app_rate{
    display: inline-block;
    float: left;
    width: 90%;
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #97A2A4;
    letter-spacing: -0.75px;
}
.senti_body{
    margin:10%;
    text-align: center;
}
.reco_no{

    font-family: Poppins-Light, Georgia, serif;
    font-size: 30px;
    color: #464646;
    letter-spacing: 0.66px;
}

.reco_per{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 24px;
    color: #38D996;
    letter-spacing: 0.53px;
}

.noreco_per{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 24px;
    color: #ED40DB;
    letter-spacing: 0.53px;
}