body, html {
    height: 100%;
    margin: 0;
}
.login_container{
    background: linear-gradient(-222deg, rgba(114,118,255,0.77) 0%, rgba(80,84,255,0.92) 64%, rgba(80,83,255,0.92) 65%, rgba(74,78,255,0.94) 76%, #3E41FF 100%);
    width: 100%;
    height: 100%;
}
.login_content{
    top: 20%;
}

.login_content_bg{
    background: #FFFFFF;
    box-shadow: 2px 4px 13px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
    height: auto;
}
.login{
    position: relative;
    height: auto;
    padding: 5%;
    z-index: 2;
    margin: 0 auto;
    color: black;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}


.login input{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #97A2A4;
    letter-spacing: -0.25px;
    width: 100%;
    height: 6.5%;
    padding: 0 22px;
    margin: 4px;
    display: block;
    border: 1px solid #D3D3D5;
    border-radius: 36px;
}

.login button{
    width: 100%;
    height: 6.5%;
    background-color: #38D996;
    border-radius: 28px 28px 0px 28px;
    border: 1px solid #D3D3D5;
    margin: 20px auto;
    display: block;
    font-family: Poppins-SemiBold;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: -0.8px;
}
.dashbar{
    float: right;
}
.login_head{
    padding: 0 0 20px 0;
}